{
  "$schema": "https://json.schemastore.org/prettierrc",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "ignore",
  "bracketSameLine": false,
  "quoteProps": "as-needed",
  "embeddedLanguageFormatting": "auto",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular",
        "printWidth": 120,
        "singleQuote": false
      }
    },
    {
      "files": "*.component.html",
      "options": {
        "printWidth": 140,
        "singleQuote": false
      }
    },
    {
      "files": "*.ts",
      "options": {
        "printWidth": 120
      }
    },
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false,
        "printWidth": 120,
        "bracketSpacing": true
      }
    }
  ]
}
