<div class="relative autocomplete-wrapper w-full">
  <div class="relative">
    <span class="absolute left-3 top-1/2 -translate-y-1/2 text-lg">
      {{ icon() }}
    </span>

    <input
      type="text"
      [placeholder]="placeholder()"
      class="w-full pl-10 pr-10 py-2 rounded-lg border text-(--text-primary)"
      [ngModel]="value()"
      (ngModelChange)="onUserInput($event)"
      (focus)="onFocus()"
      (blur)="onBlur()"
    />

    @if (loading()) {
      <span class="absolute right-3 top-1/2 -translate-y-1/2">
        <span
          class="w-4 h-4 border-2 border-gray-300 border-t-gray-600 rounded-full animate-spin block"
        ></span>
      </span>
    }
  </div>

  @if (dropdownOpen() && suggestions().length) {
    <ul class="absolute z-10 w-full mt-1 border rounded-lg bg-white">
      @for (place of suggestions(); track place.formatted) {
        <li
          class="px-4 py-2 cursor-pointer hover:bg-gray-100"
          (pointerdown)="selectSuggestion(place)"
        >
          {{ place.formatted }}
        </li>
      }
    </ul>
  }
</div>
